html { height: 100%; }
h1,h2,h3 { padding: 0px; margin: 20px 0px 0px 0px; font: 30px terminal; letter-spacing: 2px; text-align: left; }
h1 { color: #FF2FE7; font-size: 30px; }
h2 { color: #45D4FF; font-size: 25px; }
h3 { color: #45D4FF; font-size: 25px; }

canvas { border: 0px solid; background: white; margin-top: 50px; display: block; }
#canvas { margin: auto; width: 500px; height: 300px; margin-top: 100px; border: black 0px solid; overflow: hidden; background: white; }

#info { width: 500px; line-height: 130%; padding-top: 20px; }
#jaws-log { font: 11px verdana; color: #aaaaaa; background: black; width: 500px; padding: 5px; }
#jaws-edit { font: 11px verdana; color: #aaaaaa; background: black; width: 480px; padding: 10px; margin-top: 10px; min-height: 50px; display: none; overflow: auto; }
#jaws-toolbar {
  width: 200px;
  position: fixed;
  top: 0px;
  left: 0px;
  background: #eeeeee;
  height: 600px;
  box-shadow: 0px 0px 10px black;
}

code { font-weight: bold; font-size: 15px; color: #33FF33;}

body {
  font: 13px verdana;
  text-align: left;
  color: #eeeeee; 
  padding: 0px; margin: 0px; 
  width: 500px;
  margin: 0px auto;
  background: #050c0f;
  background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.25,rgb(5,12,15)),color-stop(0.84, rgb(10,90,133)) );
  background-image: -moz-linear-gradient(center bottom,rgb(5,12,15) 25%,rgb(10,90,133) 84%);
}

/*
 * We want non-blurry, block retro gfx when scaling! Webkit (chrome/safari) has yet to catch up with this 
 * Also this actually doesn't seem to affect the <canvas>-tag just yet.
 */
html, canvas, img {
  image-rendering: optimizeSpeed;
  image-rendering: optimize-contrast;
  image-rendering: -moz-crisp-edges; /* FF */
  image-rendering: -webkit-optimize-contrast; /* Webkit */
  -ms-interpolation-mode: nearest-neighbor;   /* IE */
  image-rendering: crisp-edges;
}
